@font-face {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: normal;
  src: url(./Fonts/Merriweather-Regular.ttf)
}

@font-face {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: normal;
  src: url(./Fonts/Merriweather-Bold.ttf)
}


.app {
  background: linear-gradient(to right, #3e5151, #decba4); 
  height: 100vh;
  padding: 30px;
  font-family: 'Merriweather', serif;
}

header {
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 46px;
  color:rgb(236, 220, 200)
}

.todo-form {
  margin: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.todo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 360px;
  background: #fff;
  border-radius: 3px; 
  border: solid rgba(112, 77, 36, 0.664) 2px; 
  box-shadow: 1px 1px 1px rgba(141, 93, 38, 0.664);
  padding: 3px 10px;
}

.todo-input {
  min-height: 2rem;
  border: none;
  font-size: 18px;
  outline: #fff;
}


.todo-list {
  padding: 5px;
  max-width: 360px;
  margin: auto;
  border-radius: 4px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 3px;
  border: solid rgba(112, 77, 36, 0.664) 2px;
  box-shadow: 1px 1px 1px rgba(141, 93, 38, 0.664);
  font-size: 18px;
  margin-bottom: 6px;
  padding: 3px 10px;
}

.todo-item {
  list-style: none;
  flex: 1;
}

.trash-btn,
.complete-btn,
.submit-btn {
  color: rgb(156, 116, 64);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  margin: 0;
  outline: none;
}

.trash-btn,
.complete-btn {
  margin-left: 5px;
}


